
.new:after{
  display:inline-block;
  content:'Free!';
  color:var(--linkC);
  font-size:12px;font-weight:400;
  margin:0 5px;
  content:'New!';
  color:#5F31FF;
}
 svg.c-2{fill:var(--iconCs); opacity:.4} .hidden{display:none !important} .invisible{visibility:hidden !important} .clear{width:100%;display:block;margin:0;padding:0;float:none;clear:both} 
 
 svg.line .svgC{
   fill:none;
   stroke:var(--linkC)
   
 }

 svg.line .svgC{
   fill:none;
   stroke:var(--darkU)
   
 }


.raj-sub-link{
  
  color: var(-linkC);
  color:#000;
  text-decoration-line: none;
 text-align:  center;

border-bottom-left-radius:8px;

border-bottom-right-radius:8px;

border-top-left-radius:8px;

border-top-right-radius:8px;

box-sizing:border-box;

color:●rgb(8, 16, 43);



flex-basis:calc(100%-64px);

flex-grow:1;
flex-shrink:0;

height:40px;

left:-5px;

overflow-x:visible;



overflow-y:visible;

padding-bottom:10px;

padding-left:10px;
padding-right:10px;

padding-top:10px;

position:relative;

right:-5px;

text-decoration-line:none;

text-overflow:ellipsis;

text-wrap:nowrap;
transition-behavior:normal;

transition-delay:You;

transition-duration:0.1s;



transition-property:all;

transition-timing-function:ease;

white-space-collapse:collapse;

width:238.909px;

-webkit-tap-highlight-color:rgba(0, 0, 0, 0);

}
.mnMn ul li > *, .mnMn .a {

align-items: center;

border-bottom-left-radius: 8px;

border-bottom-right-radius: 8px;

border-top-left-radius: 8px;

border-top-right-radius: 8px;

display: flex;

left: -5px;

padding-bottom: 10px;

padding-left: 5px;

padding-right: 5px;

padding-top: 10px;

position: relative;

right: -5px;



width: calc(100% + 10px);
}

.mnMn ul li > * {

padding-bottom: 10px;

padding-left: 10px;

padding-right: 10px;

padding-top: 10px;

}

.mnMn.n, .mnMn ul li > * {

display: block;

flex-basis: calc(100% - 64px);

flex-grow: 1;

flex-shrink: 0;

overflow-x: hidden;

overflow-y: hidden;

text-overflow: ellipsis;

text-wrap: nowrap;

white-space-collapse: collapse;

}





.raj-li-section{
  box-sizing:border-box;
  display:list-item;
  height:40px;
  width:233.909px;
  -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
  
}

.mnMn ul li > *, .mnMn .a {

align-items: center;

border-bottom-left-radius: 8px;

border-bottom-right-radius: 8px;

border-top-left-radius: 8px;

border-top-right-radius: 8px;

display: flex;

left: -5px;

padding-bottom: 10px;

padding-left: 5px;

padding-right: 5px;

padding-top: 10px;

position: relative;

right: -5px;





width: calc(100% + 10px);
}
.a{
  
 text-align:center;

border-bottom-left-radius:8px;

border-bottom-right-radius:8px;

border-top-left-radius:8px;
border-top-right-radius:8px;
box-sizing:border-box;
display:flex;

height:40px;
left:-5px;

padding-bottom:10px;

padding-left:5px;

padding-right:5px;

padding-top:10px;

position:relative;

right:-5px;

transition-behavior:normal;

transition-delay:You;

transition-duration:0.1s;

transition-property:all;
transition-timing-function: ease;

width:273.909px;



-webkit-tap-highlight-color:

rgba(0, 0, 0, 0);
}

.a:hover{
  background:#F2F0EF;
}

svg { fill: var(-iconC); height: 22px; 

width: 22px;
}
svg.line, svg.line { fill: none; stroke-linejoin: round; stroke-width: 1;

stroke: var(-iconC); stroke-linecap: round;

}

ul {
  list-style: none;
  
}


.mSoc ​​svg, .mnMn svg {

height: 20px;

opacity: 0.8;

width: 20px;
}
.mnMn .a > * {

margin-bottom: 0px;

margin-left: 5px;

margin-right: 5px; margin-top: 0px;

}

.mnMn svg {

flex-shrink: 0;

}

svg{
  box-sizing:border-box;



fill:none;



flex-shrink:0;

height:20px;

margin-bottom:0px;

margin-left:5px;

margin-right:5px;

margin-top:0px;

opacity:0.8;

stroke:rgb(8, 16, 43);

stroke-linecap:round;

stroke-linejoin:round;

stroke-width:1px;

width:20px;

-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}


input, button, select, textarea {

color: inherit;

font-family: inherit;

font-feature-settings: inherit;

font-kerning: inherit;

font-optical-sizing: inherit;

font-size: 100%;

font-stretch: inherit;

font-style: inherit;

font-variant-alternates: inherit;

font-variant-caps: inherit;

font-variant-east-asian: inherit;

font-variant-ligatures: inherit;

font-variant-numeric: inherit;

font-variant-position: inherit;

font-variation-settings: inherit;

font-weight: inherit;

line-height: normal;

}

.hidden {

display: none;

}

#drpDwn-2{
  box-sizing:border-box;

color:rgb(8, 16, 43);

display:none;

font-family:"Google Sans Text", Arial, Helvetica, sans-serif;

font-kerning:auto;

font-optical-sizing:auto;

font-size:14px;

font-stretch:100%;
font-style:normal;

font-variant-alternates:normal;

font-variant-caps:normal;

font-variant-east-asian:normal;



font-variant-ligatures:normal;

font-variant-numeric:normal;

font-variant-position:normal;

font-weight:400;
font-variant-ligatures:normal;

font-variant-numeric:normal;

font-variant-position:normal;

font-weight:400;

height:auto;

line-height:normal;

width:auto;

-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

a:hover{
  background:#F3F1F0;
  border-radius: 6px;
  color:#5F31FF;
  padding-right:60px;
}

path:hover  {
  background:#5F31FF;
}
